.hyphen {
    -webkit-hyphens: auto; !important;
    -ms-hyphens: auto; !important;
    hyphens: auto; !important;
}

.growH:focus {
    height: 4rem;
    transition: height 0.10s ease-in;
}

.wordCont {
    height: 600px;
    width: 1000px;
}

.breakW{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.pointTran{
    opacity: 0;
    transition: opacity 100ms ease-out;
    transition: top 300ms ease-out 5ms;
}
.glowGreen{
    transition: border-color 500ms ease-out;
}

